body {
    margin: 0;
    min-height: 200vh;

    background: linear-gradient(
        to bottom,
        rgb(201, 85, 192),
        rgb(208, 97, 230),
        rgb(129, 107, 255),
        rgb(108, 130, 255),
        rgb(71, 93, 222)
    );

    font-style: italic;
}