body {
    margin: 0;
    min-height: 200vh;

    background: linear-gradient(
        to bottom,
        rgb(222, 9, 204),
        rgb(194, 9, 231),
        rgb(17, 47, 218)
    );

    font-style: italic;
}